# Ignore Python virtual environments
env/

# Ignore database files
db.sqlite3

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor settings
.vscode/

# Ignore static/media uploads
staticfiles/
media/

# Ignore logs
*.log
