# Ignore Python virtual environments
env/

# Ignore database files

# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor settings
.vscode/

# Ignore static/media uploads
staticfiles/

# Ignore logs
*.log
